apiVersion: v1
kind: Service
metadata:
  name: account-service
  namespace: pogo-system
  labels:
    app: account-service
    tier: microservice
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "5001"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
  - port: 5001
    targetPort: 5001
    protocol: TCP
    name: http
  selector:
    app: account-service

