apiVersion: v1
kind: Service
metadata:
  name: pogo-app
  namespace: pogo-system
  labels:
    app: pogo-app
    tier: frontend
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30000
    protocol: TCP
    name: http
  selector:
    app: pogo-app

